<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MacUIM</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>info.yatsu.inputmethod.MacUIM-IMK</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MacUIM</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.6.16.1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.16</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>InputMethodConnectionName</key>
	<string>MacUIM_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>MacUIMController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>MacUIMController</string>
	<key>tsInputMethodIconFileKey</key>
	<string>MacUIM.tiff</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Zzzz</string>
	</array>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.apple.inputmethod.Japanese</key>
			<dict>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>com.apple.inputmethod.Korean</key>
			<dict>
				<key>tsInputModeScriptKey</key>
				<string>smKorean</string>
			</dict>
			<key>com.apple.inputmethod.Roman</key>
			<dict>
				<key>tsInputModeScriptKey</key>
				<string>smRoman</string>
			</dict>
			<key>com.apple.inputmethod.SimpChinese</key>
			<dict>
				<key>tsInputModeScriptKey</key>
				<string>smSimpChinese</string>
			</dict>
			<key>com.apple.inputmethod.TradChinese</key>
			<dict>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.apple.inputmethod.Japanese</string>
			<string>com.apple.inputmethod.TradChinese</string>
			<string>com.apple.inputmethod.SimpChinese</string>
			<string>com.apple.inputmethod.Korean</string>
			<string>com.apple.inputmethod.Roman</string>
		</array>
	</dict>
</dict>
</plist>
